 li{
  padding-top: 10px;
 }
p {
  padding: 10px;
  color: rgb(220, 22, 108);
  font-style: italic;
  font-size: 20px;
  
}

.main_div {
  margin: 20px;
   padding: auto;
   background-color: beige;
   border-radius: 5px;
}

.active {
  color:rgb(102, 0, 255);
  font-weight: bold;
  font-size: 18px;
}

.main-section {
  margin: 20px;
  padding-left: 10px;
}